.logo {
    display: block;
    margin: 0 auto;
    height: 80px;
    margin-bottom: 20px;
}


#navbar {
    display: grid;
    position: fixed;
    padding: 30px;
    width: 13%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    background-color: #f3f3f3;
}


ul {
    display: grid;
    row-gap: 15px;
    text-align: left;
    margin-bottom: 20px;
}
ul li a {
    display: flex;
    font-size: 14px;
    column-gap: 10px;
    align-items: center;
    color: #000000;
}
ul li a img {
    height: 20px;
}
ul li:hover a h3 {
    color: #6E6E6E;
}
ul li:hover a[id="main-page"] img {
    content: url('../../icons/nav/hover/main.svg');
}
ul li:hover a[id="stats-page"] img {
    content: url('../../icons/nav/hover/stats.svg');
}
ul li:hover a[id="plans-page"] img {
    content: url('../../icons/nav/hover/plans.svg');
}
ul li:hover a[id="orders-page"] img {
    content: url('../../icons/nav/hover/orders.svg');
}
ul li:hover a[id="salaries-page"] img {
    content: url('../../icons/nav/hover/salaries.svg');
}

.active-page h3 {
    font-weight: 600;
}
.active-page[id="main-page"] img {
    content: url('../../icons/nav/active/main.svg');
}
.active-page[id="stats-page"] img {
    content: url('../../icons/nav/active/stats.svg');
}
.active-page[id="plans-page"] img {
    content: url('../../icons/nav/active/plans.svg');
}
.active-page[id="orders-page"] img {
    content: url('../../icons/nav/active/orders.svg');
}
.active-page[id="salaries-page"] img {
    content: url('../../icons/nav/active/salaries.svg');
}


footer {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
footer .user-data {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
footer .user-data img {
    height: 32px;
    border-radius: 100%;
}
footer .user-data p {
    font-size: 14px;
}


/* Slideout menu */
#nav-open {
    display: none;
}
#nav-close {
    display: none;
}

.theme-swither {
    display: flex;
    padding: 5px;
    margin: 15px auto;
    width: 80px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #e4e4e4;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.theme-swither button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.theme-swither button img {
    height: 18px;
    transition: filter 0.3s ease;
}
.theme-swither button:hover {
    background-color: #d4d2d2;
    transform: scale(1.1);
}
.theme-swither button.active-theme {
    background-color: #d4d2d2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.theme-swither button.active-theme:hover {
    transform: scale(1.15);
}

