.export-window-content {
    display: grid;
    margin-top: 15px;
    row-gap: 15px;
    justify-content: center;
}
.export-window-content loader {
    display: block;
    margin: 0 auto;
}
.export-window-content a {
    display: block;
    margin: 15px auto;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    color: #e2e2e2;
    background-color: #2e2e2e;
    transition: 0.25s;
}
.export-window-content a:hover {
    background-color: #424242;
    transition: 0.25s;
}

button.export-to-excel {
    display: flex;
    padding: 15px;
    height: 40px;
    border-radius: 30px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #F3F3F3;    
}
button.export-to-excel:hover {
    background-color: #e0e0e0; 
}
button.export-to-excel:hover img {
    content: url('../icons/hover/excel-icon.png');
}
button.salaries-config:hover img {
    content: url('../icons/hover/config-icon.svg');
}