@import 'reset.css';
@import 'fonts.css';

/* Main settings */

body {
    font-family: "Inter";
    background: #ffffff;
}

wrapper {
    display: block;
    padding: 20px;
    width: 87%;
    height: 100%;
    margin-left: auto;
}


/* Truncate too large text */
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Removing select outline */
select {
    outline: none;
}


/* Custom input type=date */
input[type="date"] {
    text-align: center;
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    
}

::-webkit-scrollbar-track {
    background: #b0b0b0; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1E1E1E;
}