@import 'reset.css';
@import 'fonts.css';

/* Main settings */

body {
    font-family: "Inter";
    background: #ffffff;
}

wrapper {
    display: block;
    padding: 20px;
    width: 87%;
    height: 100%;
    margin-left: auto;
}