.salaries-header {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.salaries-filters {
    display: flex;
    column-gap: 10px;
}
.salaries-filters .filter {
    display: flex;
    width: auto;
    height: 40px;
    padding: 10px;
    column-gap: 10px;
    background-color: #F3F3F3;
    border-radius: 30px;
}

.export-to-excel {
    display: flex;
    padding: 15px;
    height: 40px;
    border-radius: 30px;
    column-gap: 10px;
    align-items: center;
    background-color: #F3F3F3;    
}
.export-to-excel:hover {
    background-color: #e0e0e0; 
}
.export-to-excel:hover img {
    content: url('../icons/hover/excel-icon.png');
}


.salaries-blocks-list {
    display: grid;
    margin-top: 30px;
    row-gap: 30px;
}
.salaries-block {
    display: grid;
    width: 100%;
    row-gap: 20px;
}
.salaries-block-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.salaries-block-heading h2 {
    font-size: 20px;
}
.salary-block-details-icon {
    width: 20px;
    content: url('../icons/salary-block-details.svg');
}
.salary-block-details-icon:hover {
    width: 20px;
    content: url('../icons/hover/salary-block-details.svg');
}
.empty-salaries-block {
    padding: 10px;
    border-radius: 30px;
    background-color: #F3F3F3;
}

.salaries-block .salaries-amount {
    display: flex;
    padding: 10px;
    column-gap: 20px;
    border-radius: 20px;
    justify-content: space-between;
    background-color: #F3F3F3;
}